# Use OS endings for C# source
* text=auto

# Use LF for haskell (because I checkout the repo on Windows but run in WSL).
haskell/** text eol=lf

# Don't modify line endings of puzzle inputs.
**/advent2020puzzle4.txt binary
**/*input.txt binary
/cache/* binary
